# ==========================================
# Configurações de Conexão - OpenSearch
# ==========================================
# Insira os IPs ou Hostnames dos seus nós OpenSearch separados por vírgula
OPENSEARCH_HOSTS=10.0.0.10,10.0.0.11 ou server-name
OPENSEARCH_USER=admin
OPENSEARCH_PASS=senha_super_secreta

# Caminhos absolutos para os certificados SSL/TLS da sua infraestrutura
OPENSEARCH_CA_CERT=/certs/ca-certificate.pem
OPENSEARCH_CLIENT_CERT=/certs/client-cert.crt
OPENSEARCH_CLIENT_KEY=/certs/client-cert.key
