# Credenciais do Cluster
OS_USER=seu_usuario
OS_PASS=sua_senha

# Endereços dos Servidores
OS_HOST_PRINCIPAL=https://endereco-do-cluster-01:9200
OS_HOST_SECUNDARIO=https://endereco-do-cluster-02:9200

# Caminhos dos Certificados - Path
SSL_CA_PATH=/caminho/para/ca-certificate
SSL_CERT_PATH=/caminho/para/client-cert.crt
SSL_KEY_PATH=/caminho/para/client-cert.key

# Configurações de Saída
OUTPUT_DIR=./relatorios