# ==========================================
# CONFIGURAÇÕES OPENSEARCH E BACKUP S3
# ==========================================

# OpenSearch - Fonte (Leitura)
OS_SOURCE_HOST=os-source-node-01.local
OS_SOURCE_PORT=9200
OS_USER=admin
OS_PASSWORD=admin

# OpenSearch - Auditoria/Destino (Escrita)
OS_AUDIT_HOST_1=os-audit-node-01.local
OS_AUDIT_HOST_2=os-audit-node-02.local
OS_AUDIT_PORT=9200
GRAYLOG_STREAM_ID=68eXXXXXXXXXXXX

# Certificados
OS_CA_CERT=/backup/cert/ca-certificate
OS_CLIENT_CERT=/backup/cert/client-cert.crt
OS_CLIENT_KEY=/backup/cert/client-cert.key

# S3 / AWS
S3_ACCESS_KEY=SUA_ACCESS_KEY_AQUI
S3_SECRET_KEY=SUA_SECRET_KEY_AQUI
S3_ENDPOINT=https://s3.seudominio.com.br
S3_REGION=us-east-1
S3_BUCKET_NAME=backup-graylog

# Bash Monitor
MONITOR_OS_HOST=http://os-source-node-01.local:9200
MONITOR_REMOVE_DOMAIN=.local
